.contenedor {
    text-align: center;
    background-color: #ccc;
    padding: 10px;
}

.contenedor p {
    font-size: 16px;
    color: #1616e7;
    font-weight: bold;
}

/* Estilos del index */
button {
    padding: 8px 25px;
    margin: 10px;
    background-color: #3030d9;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button a {
    text-decoration: none;
    color: #fff;
}